<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Product Single</h1>
          <span class="mb-0 text-white">
            Take a cup and forget about everything for a few minutes. <br>
            Behind every successful person is a substantial amount of coffee.
  </span>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/"></a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">


    </div>


    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Additional Information</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reviews(2)</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus numquam commodi cupiditate, molestias voluptatem dolorum ex deserunt mollitia voluptate dolores repellendus enim libero atque assumenda. Temporibus eos molestiae quo nulla.</p>

          <h4>Product Features</h4>

          <ul class="">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reprehenderit veniam aspernatur modi doloribus atque ducimus architecto. Libero quidem harum reprehenderit, animi unde assumenda atque, quam aliquam aut consequatur est!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptate veniam excepturi quidem laudantium quae magni expedita eligendi, inventore ex eum quam magnam obcaecati pariatur, non architecto quos adipisci. Labore!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, repudiandae recusandae nam, eum enim nostrum totam at porro nihil magni officiis delectus veniam placeat. Labore delectus dignissimos sit suscipit laudantium!</li>
          </ul>

          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

          <ul class="list-unstyled info-desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati officiis hic aliquam inventore vero necessitatibus, repudiandae eligendi voluptatum, neque nemo voluptatibus. Molestiae consectetur odit odio dignissimos pariatur laboriosam sed ducimus.</p>
          </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">


          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>You may like this</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/1coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/1coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Red Velvet Latte</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/2coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/2coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Melacca</a>
                </h2>
                <span class="price"> $29.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/3coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/3coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Black Cookie Latte</a>
                </h2>
                <span class="price"> $350.00  </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/4coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/4coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Caramel Macchiato</a></h2>
                <span class="price"> $249 </span>
                <del
                    >
                    <pre wp-pre-tag-3=""></pre>
                  </del>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_americano.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_americano.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#"></a>Cafe Americano
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_latte.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe.latte.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe Latte</a>
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_cappuccino.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_cappuccino.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe_Cappuccino</a>
                </h2>
                <span class="price">
                  <del
                    >
                    <pre wp-pre-tag-3=""></pre>
                  </del>
                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_macchiato.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_macchiato.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe Macchiato</a>
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/5coffee_MatchaLatte.jpg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/5coffee_MatchaLatte.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Macha Latte</a></h2>
                <span class="price"> $59.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/6coffee_darkChoco.jpg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/6coffee_darkChoco.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Dark Chocolate</a></h2>
                <span class="price"> $99.00 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/7coffee_black.jpeg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/7coffee_black.jpeg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Black Coffee</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/8coffee_white.jpeg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/8coffee_white.jpeg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">White Coffee</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>


  </div>

