<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div
    ngxSlickItem
    class="slider-item"
    style="
      background-image: url('assets/images/slideshow1-1.png');
      background-position: 50%;
      background-repeat: no-repeat;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Best Coffee</span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">CAPPUCCINO </span>Original Taste
            </h1>
            <a href="#" class="btn btn-main">Order Now!</a>
            <a href="#" class="btn btn-main ml-5">Reserve Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    ngxSlickItem
    class="slider-item"
    style="background-image: url('assets/images/slideshow1-2.png')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Best Coffee </span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">PREMIUM</span> Blend Coffee
            </h1>
            <a href="#" class="btn btn-main">Order Now!</a>
            <a href="#" class="btn btn-main ml-5">Reserve Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    ngxSlickItem
    class="slider-item"
    style="background-image: url('assets/images/slideshow1-3.png')"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Best Coffee</span>
            <h1 class="mt-2 mb-5">
              <span class="text-color">CLASSIC </span>Ice Coffee Taste
            </h1>
            <a href="#" class="btn btn-main">Order Now!</a>
            <a href="#" class="btn btn-main ml-5">Reserve Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
<section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="title text-center mt-5 mb-5">
        <h5>WELCOME</h5>
        <h2>About Us</h2>
        <p class="text-md mt-3 text-grey ">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, natus
          voluptate dignissimos, velit nobis quisquam architecto cupiditate eos
          eaque, perferendis voluptatibus neque itaque excepturi amet nisi! Odit
          fugiat obcaecati dolor. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Iusto at deleniti, reprehenderit optio odio qui
          laboriosam aliquam perferendis magni pariatur, non quisquam tempora
          enim harum possimus dolorum! Asperiores, voluptatibus exercitationem?
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ads section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 offset-lg-6">
        <div class="ads-content">

          <h2 class="mt-3 text-white">DID YOU KNOW?</h2>
          <span class="h5 deal"> ABOUT OUR COFFEE SHOP:</span>

          <section class="features border-top mt-5">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="feature-block">
                    <i class=""><fa-icon [icon] = "faCoffee"></fa-icon></i>
                    <div class="content">
                      <h5>Famous for our Coffee</h5>

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="feature-block">
                    <i class=""><fa-icon [icon] = "faMobile"></fa-icon></i>
                    <div class="content">
                      <h5>Phone Reservation</h5>

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="feature-block">
                    <i class=""> <fa-icon [icon] = "faClock"></fa-icon></i>
                    <div class="content">
                      <h5>Open Everyday 08:00 - 01:00</h5>

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                  <div class="feature-block">
                    <i class=""> <fa-icon [icon] = "faMapMarker"></fa-icon></i>
                    <div class="content">
                      <h5>Located in Talamban Area</h5>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center" >
          <h2 >OUR MENU</h2>
          <p>Our best coffee these weekend</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap"  >
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/1coffee.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/1coffee.jpg"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Red Velvet Latte</a></h2>
            <span class="price"> $329.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/2coffee.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/2coffee.jpg"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Melacca</a>
            </h2>
            <span class="price"> $29.10 </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/3coffee.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/3coffee.jpg"
                alt="product-img"
            /></a>
          </div>

          <span class="onsale">Sale</span>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Black Cookie Latte</a>
            </h2>
            <span class="price"> $350.00  </span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/4coffee.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/4coffee.jpg"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0"><a href="#">Caramel Macchiato</a></h2>
            <span class="price"> $249 </span>
            <del
                >
                <pre wp-pre-tag-3=""></pre>
              </del>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/cafe_americano.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/cafe_americano.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#"></a>Cafe Americano
            </h2>
            <span class="price">

              $50.10
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/cafe_latte.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/cafe_latte.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Cafe Latte</a>
            </h2>
            <span class="price">

              $50.10
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/cafe_cappuccino.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/cafe_cappuccino.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Cafe_Cappuccino</a>
            </h2>
            <span class="price">
              <del
                >
                <pre wp-pre-tag-3=""></pre>
              </del>
              $50.10
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/cafe_macchiato.png"
                alt="product-img"
            /></a>
            <a href="#"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/cafe_macchiato.png"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a href="#">Cafe Macchiato</a>
            </h2>
            <span class="price">

              $50.10
            </span>
          </div>
        </div>
      </div>


      <a routerLink="/shop" class="btn btn-main">View our complete menu</a>

    </div>
  </div>
</section>

