<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Coffee Shop</h1>
          <span class="mb-0 text-white">
            Take a cup and forget about everything for a few minutes. <br>
            Behind every successful person is a substantial amount of coffee.
  </span>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/"></a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="single-product">
  <div class="container">
    <div class="row">


    </div>


    <div class="row">
      <h5>PRODUCTS LISTS</h5>
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
            <a class="nav-item nav-link" id="nav-basic-tab" data-toggle="tab" href="#nav-Basic" role="tab" aria-controls="nav-profile" aria-selected="false">Basic</a>
            <a class="nav-item nav-link" id="nav-flavored-tab" data-toggle="tab" href="#nav-Flavored" role="tab" aria-controls="nav-contact" aria-selected="false">Flavored Coffee</a>
            <a class="nav-item nav-link" id="nav-non-tab" data-toggle="tab" href="#nav-non" role="tab" aria-controls="nav-contact" aria-selected="false">Non-Coffee</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

          <h4>1</h4>



          </div>
          <div class="tab-pane fade" id="nav-Basic" role="tabpanel" aria-labelledby="nav-basic-tab">


            <h4>2</h4>


          </div>
          <div class="tab-pane fade" id="nav-Flavored" role="tabpanel" aria-labelledby="nav-flavored-tab">
            <h4>3</h4>

          </div>
          <div class="tab-pane fade" id="nav-non" role="tabpanel" aria-labelledby="nav-non-tab">
            <h4>4</h4>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>You may like this</h2>
          <p>The best Coffee to buys these weekend!</p>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/1coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/1coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Red Velvet Latte</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/2coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/2coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Melacca</a>
                </h2>
                <span class="price"> $29.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/3coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/3coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <span class="onsale">Sale</span>
              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Black Cookie Latte</a>
                </h2>
                <span class="price"> $350.00  </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/4coffee.jpg"
                    alt="product-img"
                /></a>
                <a routerLink="/product-single"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/4coffee.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Caramel Macchiato</a></h2>
                <span class="price"> $249 </span>
                <del
                    >
                    <pre wp-pre-tag-3=""></pre>
                  </del>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_americano.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_americano.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#"></a>Cafe Americano
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_latte.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe.latte.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe Latte</a>
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_cappuccino.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_cappuccino.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe_Cappuccino</a>
                </h2>
                <span class="price">
                  <del
                    >
                    <pre wp-pre-tag-3=""></pre>
                  </del>
                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/cafe_macchiato.png"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/cafe_macchiato.png"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0">
                  <a href="#">Cafe Macchiato</a>
                </h2>
                <span class="price">

                  $50.10
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/5coffee_MatchaLatte.jpg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/5coffee_MatchaLatte.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Macha Latte</a></h2>
                <span class="price"> $59.10 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/6coffee_darkChoco.jpg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/6coffee_darkChoco.jpg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Dark Chocolate</a></h2>
                <span class="price"> $99.00 </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/7coffee_black.jpeg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/7coffee_black.jpeg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">Black Coffee</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product">
              <div class="product-wrap">
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-first"
                    src="assets/images/8coffee_white.jpeg"
                    alt="product-img"
                /></a>
                <a href="#"
                  ><img
                    class="img-fluid w-100 mb-3 img-second"
                    src="assets/images/8coffee_white.jpeg"
                    alt="product-img"
                /></a>
              </div>

              <div class="product-hover-overlay">
                <a href="#"><i class="tf-ion-android-cart"></i></a>
                <a href="#"><i class="tf-ion-ios-heart"></i></a>
              </div>

              <div class="product-info">
                <h2 class="product-title h5 mb-0"><a href="#">White Coffee</a></h2>
                <span class="price"> $329.10 </span>
              </div>
            </div>
          </div>


  </div>

